<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5e_robotiq85">

  <!-- Import macros -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/ur_to_robotiq_adapter.urdf.xacro"/>

  <!-- Parameters (mirrors ur.urdf.xacro, gripper always uses fake hardware for sim) -->
  <xacro:arg name="name"                    default="ur"/>
  <xacro:arg name="ur_type"                 default="ur5e"/>
  <xacro:arg name="tf_prefix"               default=""/>
  <xacro:arg name="joint_limit_params"      default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params"       default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_params"         default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params"           default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  <xacro:arg name="safety_limits"           default="false"/>
  <xacro:arg name="safety_pos_margin"       default="0.15"/>
  <xacro:arg name="safety_k_position"       default="20"/>
  <xacro:arg name="use_fake_hardware"       default="false"/>
  <xacro:arg name="fake_sensor_commands"    default="false"/>
  <xacro:arg name="sim_gazebo"              default="false"/>
  <xacro:arg name="simulation_controllers" default=""/>
  <xacro:arg name="initial_positions_file"  default="$(find ur_description)/config/initial_positions.yaml"/>

  <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)"/>

  <!-- World link -->
  <link name="world"/>

  <!-- Ground plane (Gazebo only) -->
  <xacro:if value="$(arg sim_gazebo)">
    <link name="ground_plane">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry><box size="5 5 0"/></geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry><box size="5 5 0"/></geometry>
      </collision>
    </link>
    <joint name="ground_plane_joint" type="fixed">
      <origin xyz="0 0 -0.01" rpy="0 0 0"/>
      <parent link="world"/>
      <child link="ground_plane"/>
    </joint>
  </xacro:if>

  <!-- UR arm -->
  <xacro:ur_robot
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"
    sim_gazebo="$(arg sim_gazebo)"
    headless_mode="false"
    initial_positions="${xacro.load_yaml(initial_positions_file)}"
    use_tool_communication="false"
    tool_voltage="0"
    tool_parity="0"
    tool_baud_rate="115200"
    tool_stop_bits="1"
    tool_rx_idle_chars="1.5"
    tool_tx_idle_chars="3.5"
    tool_device_name="/tmp/ttyUR"
    tool_tcp_port="54321"
    robot_ip="0.0.0.0"
    script_filename=""
    output_recipe_filename=""
    input_recipe_filename=""
    reverse_ip="0.0.0.0"
    script_command_port="50004"
    reverse_port="50001"
    script_sender_port="50002"
    trajectory_port="50003"
    >
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <!-- UR-to-Robotiq adapter: creates gripper_mount_link at tool0 + 11mm -->
  <xacro:ur_to_robotiq prefix="" connected_to="tool0"/>

  <!-- Robotiq 2F-85: uses mock hardware (no Gazebo Classic sim_gazebo option in robotiq description) -->
  <xacro:robotiq_gripper
    name="RobotiqGripperHardwareInterface"
    prefix=""
    parent="gripper_mount_link"
    use_fake_hardware="true"
    include_ros2_control="true"
    >
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_gripper>

  <!--
    TCP link: center between fingertips in closed configuration.
    ~145 mm from tool0 along its Z axis (11mm adapter + ~134mm gripper).
    Used as the MoveIt planning tip so IK targets map directly to fingertip center.
  -->
  <link name="tcp"/>
  <joint name="tcp_joint" type="fixed">
    <parent link="tool0"/>
    <child link="tcp"/>
    <origin xyz="0 0 0.145" rpy="0 0 0"/>
  </joint>

  <!-- Gazebo ros2_control plugin (one instance manages both UR and Robotiq hardware) -->
  <xacro:if value="$(arg sim_gazebo)">
    <gazebo reference="world"/>
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(arg simulation_controllers)</parameters>
      </plugin>
    </gazebo>
  </xacro:if>

</robot>
